---
layout: layouts/home.njk
---

<h1>Regno del Vespro</h1>

<img src="img/banner.jpg">

<p><i>Regno del Vespro</i> è un'ambientazione originale creata da <a href="{{ 'andreacorinti.com' | url }}">Andrea Corinti</a> e in seguito riadattata per fare da teatro al noto gioco di ruolo Dungeon World.</p>

<h2>Caratteristiche di base:</h2>

<i>Regno del Vespro</i> rappresenta un setting low fantasy vagamente ispirato al folklore mediterraneo, in particolar modo quello sicliano, greco e arabo.</p>

<p>Non esitono razze tipiche dei mondi fantasy, ma tre distinte etnie socio-culturali di stampo umano.</p>

<p>La magia è estremamente rara e vista generalmente come superstizione dai non iniziati, mentre la religione svolge un ruolo cruciale nella società del regno.</p>

<p>Al posto degli allineamenti convenzionali, esiste la "Morale" che mostra il rapporto del personaggio nei confronti di leggi e ordini costituiti e prevede i classici Caotico, Legale e Neutrale. </p>

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Ultime sessioni:</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Per le sessioni precedenti, consultare <a href="{{ '/posts/' | url }}">l'archivio</a>.</p>
