---
title: Classe Base
tags:
layout: layouts/scheda.njk
---
<div id=content>
<table id=scheda>
<thead>
  <tr>
    <th>Nome</th>
    <th>Aspetto</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Shar l'Irascibile</td>
    <td>Occhi tormentati, Occhi selvaggi o Occhi velati
  Muscoli possenti, Gambe lunghe, Corpo ossuto o Corpo agile
  Strani tatuaggi, Gioielli insoliti o Inalterato da decorazioni
  Stracci, Sete, Abiti da accattone, Abiti non appropriati al clima</td>
  </tr>
</tbody>
</table>

<table id=scheda>
<thead>
  <tr>
    <th>Forza</th>
    <th>Destrezza</th>
    <th>Costituzione</th>
    <th>Intelligenza</th>
    <th>Saggezza</th>
    <th>Carisma</th>
  </tr>
</thead>
<tbody>
  <tr id=attributi>
    <td>16</td>
    <td>11</td>
    <td>15</td>
    <td>9</td>
    <td>8</td>
    <td>13</td>
  </tr>
  <tr id=malus>
    <td><input type="checkbox">debole(-1)</td>
    <td><input type="checkbox">malfermo(-1)</td>
    <td><input type="checkbox">malato(-1)</td>
    <td><input type="checkbox">stordito(-1)</td>
    <td><input type="checkbox">confuso(-1)</td>
    <td><input type="checkbox">sfregiato(-1)</td>
  </tr>
  <tr id=attributi>
    <td>+2</td>
    <td>0</td>
    <td>+1</td>
    <td>0</td>
    <td>-1</td>
    <td>+1</td>
  </tr>
</tbody>
</table>

<table id=scheda>
<thead>
  <tr>
    <th>Danni</th>
    <th>Armatura</th>
    <th>Punti Ferita*</th>
  </tr>
</thead>
<tbody>
  <tr id=attributi>
    <td>d10</td>
    <td></td>
    <td>23/23</td>
  </tr>
</tbody>
</table>

*I punti ferita massimi del barbaro sono 8 + il punteggio di Costituzione

<table id=scheda>
<thead>
  <tr>
    <th>Etnia</th>
    <th>Morale</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Esperico</td>
    <td>Caotico</td>
  </tr>
</tbody>
</table>

<h2>Mosse Iniziali</h2>

<table>
<tbody>
  <tr>
    <td>Appetiti Erculei</td>
    <td>Gli altri si accontenteranno di un semplice sorso di vino o del potere su una manciata di servi,<br>ma tu vuoi di più. Scegli due appetiti. Se devi tirare per una mossa mentre persegui questi<br>appetiti, tiri 1d6+1d8 invece di 2d6. Se il d6 è il dado più alto dei due, il GM introdurrà una<br>complicazione o un pericolo derivante dalle tue azioni avventate.<br>⃞ Distruzione pura<br>⃞ Potere sugli altri<br>⃞ Piaceri mortali<br>⃞ Conquista<br>⃞ Ricchezze e proprietà<br>⃞ Fama e gloria</td>
  </tr>
  <tr>
    <td>Dominare la Morte</td>
    <td>Prendi +1 continuato ai tiri di ultimo respiro. Quando esali il tuo ultimo respiro, con un 7–9<br>sei tu a fare un'offerta alla Morte in cambio della tua vita. Se la Morte accetta ti riporterà in<br>vita. Se no, morirai</td>
  </tr>
  <tr>
    <td>Un Fascio di Muscoli</td>
    <td>Mentre impugni un'arma, ottiene le etichette devastante e possente</td>
  </tr>
  <tr>
    <td>Cosa Stai Aspettando? (Cos)</td>
    <td>Quando lanci una sfida ai tuoi nemici, tira+Cos. ✴Con un 10+ ti trattano come la minaccia<br>più importante di cui occuparsi e ignorano i tuoi compagni, prendi +2 danni continuati<br>contro di loro. ✴Con un 7–9 solo alcuni (i più deboli o i più avventati tra lor) cadono preda<br>della tua provocazione</td>
  </tr>
</tbody>
</table>
</div>

<button class="convertiPDF">Genera PDF</button>
</body>
