---
title: Don Lollò Zirafa (Ciarlatano)
tags:
layout: layouts/l_ciarlatano.njk
img: /img/don-lollo.jpg
livello: 2
esperienza: 0
nome: Don Lollò Zirafa
aspetto: "Occhi acquosi, capelli radi, vesti semplici, corpo pingue"
forza: 12
destrezza: 8
costituzione: 15
intelligenza: 13
saggezza: 9
carisma: 16
for: 0
des: -1
cos: +1
int: +1
sag: 0
car: +2
pf: 21
pfmax: 21
armatura: 2
etnia: esperica
morale: neutrale
---

<h2>Legami</h2>

<table id=mosse>
<tbody>
  <tr>
    <td><h3></h3></td>
    <td></td>
  </tr>
  <tr>
</tbody>
</table>
