---
title: Masuzzu Pignataru (Ciarlatano)
descrizione: "Masuzzu Pignataru ufficialmente fa il pentolaio a Primaluna, ma in realtà arrotonda il suo lavoro con qualche occasionale truffa o furtarello. Col tempo, grazie ad una certa spregiudicatezza imprenditoriale, è riuscito a formare un nutrito gruppo di associati che lo riconoscono come capo."
layout: layouts/l_ciarlatano.njk
img: /img/masuzzu.jpg
livello: 1
esperienza: 0
nome: Masuzzu Pignataru
aspetto: "Occhi freddi, capelli ordinati, vesti semplici, corpo atletico"
forza: 8
destrezza: 12
costituzione: 9
intelligenza: 15
saggezza: 13
carisma: 16
for: -1
des: 0
cos: 0
int: +1
sag: +1
car: +2
pf: 15
pfmax: 15
armatura: 0
etnia: esperica
morale: caotica
---

<h2>Legami</h2>

<table id=mosse>
<tbody>
    <tr>
    <td><h3>Piddu l'Artiglio</h3></td>
    <td>Il vecchio boss di Cortenova, attualmente è il mio più acerrimo nemico. Penso che questo legame potrà risolversi solo quando uno di noi due finirà con un cappotto di legno.</td>
  </tr>
  <tr>
    <td><h3>Turi Testepetra</h3></td>
    <td>Prezioso braccio armato con cui sono riuscito a stringere un'alleanza. Ora si tratta solo di capire che storia ha la sua dannatissima spada...</td>
  </tr>

</tbody>
</table>
