---
title: Marco da Zena (Guerriero)
descrizione: "Guerriero dalla lontana terra di Zena, è da poco giunto a Cortenova e, non avendo il becco di un quattrino, è alla ricerca di un lavoro decente e possibilmente remunerativo."
layout: layouts/l_guerriero.njk
img: https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png
livello: 1
esperienza: 0
nome: Marco da Zena
aspetto: "slanciato con e con capelli lunghi, dallo sguardo sempre stanco"
arma: spada
portata: media
forza: 16
destrezza: 13
costituzione: 15
intelligenza: 9
saggezza: 12
carisma: 8
for: +2
des: +1
cos: +1
int: 0
sag: 0
car: -1
pf: 25
pfmax: 25
armatura: 2
etnia: esperica
morale: neutrale
---

<h2>Equipaggiamento</h2>

<b>Carico attuale:</b> 6/28<br>
<b>Dinari: 28</b>

<table id=mosse>
<tbody>
  <tr>
    <td><h3>Spada di Zena</h3></td>
    <td>Valore: Inestimabile. affilata [+2 perforante] senza difetti, peso 2</td>
  </tr>
  <tr>
    <td><h3>Armatura di Scaglie</h3></td>
    <td>Valore: 50 monete. +2 armatura, ingombrante [-1 destrezza], peso 2</td>
  </tr>
  <tr>
  <tr>
    <td><h3>1 Pozioni curative</h3></td>
    <td>Valore: 50 dinari. Cura 10 punti ferita oppure, a scelta, un malus, peso 0</td>
  </tr>
    <tr>
    <td><h3>Razione</h3></td>
    <td>Valore: 3 dinari. Usi rimasti: 5/5. Conservabile per una settimana, peso 1</td>
  </tr>
</tbody>
</table>
