---
title: Totò Ariti (Ladro)
descrizione: "L'uomo più fidato di Masuzzu: è il braccio armato della cosca. Da anni è alla ricerca della sorella scomparsa."
layout: layouts/l_ladro.njk
img: /img/totò-ariti.jpg
livello: 1
esperienza: 0
nome: Totò Ariti
aspetto: "Occhi da bambino, capelli spettinati, vesti semplici, corpo atletico"
forza: 12
destrezza: 16
costituzione: 13
intelligenza: 15
saggezza: 8
carisma: 9
for: 0
des: +2
cos: +1
int: +1
sag: -1
car: 0
pf: 19
pfmax: 19
armatura: 1
etnia: arcaica
morale: neutrale
---

<h2>Legami</h2>

<table id=mosse>
<tbody>
    <tr>
    <td><h3>Galatea Ariti</h3></td>
    <td>Mia sorella. Scomparsa cinque anni fa.</td>
  </tr>
    <tr>
    <td><h3>Masuzzu Pignataru</h3></td>
    <td>Il mio capo. Mi fido di lui, e lui sa di poter contare sempre su di me. Con Masuzzu al potere al posto degli altri malavitosi del nordovest, le cose per il popolo finalmente cambieranno.</td>
  </tr>
  <tr>
    <td><h3>Turi Testepetra</h3></td>
    <td>Bestione reclutato da Masuzzu nelle montagne meridionali: è piuttosto celebre ed evidentemente pericoloso se preso per il verso sbagliato. Sicuramente meglio averlo come alleato che come nemico.</td>
  </tr>

</tbody>
</table>
