---
title: Turi Testepetra (Guerriero)
descrizione: "Turi Testepetra è un guerriero delle montagne dell'ovest che ama il vino, la carne e farsi i fatti propri.
Ha una piccola baita vicino alla sorgente del Kamikos e una volta l'anno va a commerciare qualcosa nella città di Morgantina, ma per il resto vive felice e sereno tra i monti."
layout: layouts/l_guerriero.njk
img: /img/turi.jpg
livello: 1
esperienza: 5
nome: Turi Testepetra
aspetto: "Occhi vivaci, capelli lunghi, vesti sgualciti, corpo gargantuesco"
arma: spada
portata: lunga
forza: 16
destrezza: 9
costituzione: 15
intelligenza: 12
saggezza: 8
carisma: 13
for: +2
des: 0
cos: +1
int: 0
sag: 0
car: +1
pf: 22
pfmax: 25
armatura: 3
etnia: esperica
morale: neutrale
---

<h2>Equipaggiamento</h2>

<b>Carico attuale:</b> 6/28<br>
<b>Dinari:</b> 30 (100 dinari = 1 peso)

<table id=mosse>
<tbody>
  <tr>
    <td><h3>Spadone di Echetia</h3></td>
    <td>Valore: 70 monete. +1 danno, affilata [+2 perforante] enorme [+devastante, +possente], antica peso 3</td>
  </tr>
  <tr>
    <td><h3>Armatura di Scaglie</h3></td>
    <td>Valore: 50 monete. +3 armatura, ingombrante [-1 destrezza], peso 2</td>
  </tr>
  <tr>
  <tr>
    <td><h3>2 Pozioni curative</h3></td>
    <td>Valore: 50 dinari. Cura 10 punti ferita oppure, a scelta, un malus, peso 0</td>
  </tr>
    <tr>
    <td><h3>Razione</h3></td>
    <td>Valore: 3 dinari. Usi rimasti: 3/5. Conservabile per una settimana, peso 1</td>
  </tr>
  <tr>
</tbody>
</table>

<h2>Legami</h2>

<table id=mosse>
<tbody>
  <tr>
    <td><h3>Masuzzu Pignataru</h3></td>
    <td>Mi ha assoldato garantendomi alcune informazioni riguardo la mia antica Spada echetiana.</td>
  </tr>
  <tr>
</tbody>
</table>
