---
title: Zalora (Majara)
tags:
layout: layouts/l_majara.njk
img: /img/zalora.jpg
livello: 1
esperienza: 5
nome: Zalora
aspetto: "Occhi acuti, capelli selvaggi, veste consumata, corpo esile"
forza: 8
destrezza: 15
costituzione: 13
intelligenza: 16
saggezza: 9
carisma: 12
for: -1
des: +1
cos: +1
int: +2
sag: 0
car: 0
pf: 17
armatura:
etnia: esperica
morale: caotica
---

<h2>Legami</h2>

<table id=mosse>
<tbody>
  <tr>
    <td><h3>Celibano</h3></td>
    <td>Mentore, padre putativo.</td>
  </tr>
  <tr>
</tbody>
</table>
