---
title: Majara
tags:
layout: layouts/scheda.njk
---

<table>
<thead>
  <tr>
    <td><p>Tutti disprezzano il Ciarlatano, ma prima devono rendersi conto di trovarsi di fronte a lui: un Ciarlatano capace non di rado può far parte degli alti ranghi della buona società, e venire considerato un ottimo mercante nonché politico a cui è sempre bene rivolgersi.</p>
    <p>Presto o tardi qualcuno mangia la foglia, ma non per niente difficilmente i Ciarlatani conducono una vita sedentaria...</p>
    </td>
    <td>
      <img alt="{{ title }}" src="{{ img }}" height=200 width=200>
      <table id=livello>
        <thead>
          <tr>
            <th>Livello</th>
            <th>Punti Esperienza</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td id=attributi><input type="text" id=attributo readonly="" value="{{ livello }}"></td>
                <td id=attributi><input type="text" id=esperienza readonly="" value="{{ esperienza }}"></td>
                </tr>
                </tbody>
                </table>
    </td>
  </tr>
</thead>
</table>

<table id=scheda>
<thead>
  <tr>
    <th>Nome</th>
    <th>Aspetto</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td id=attributi><input type="text" size="40" id=nome readonly="" value="{{ nome}}"></td>
    <td id=attributi> <textarea style="resize:none;" name="Aspetto" cols="50" rows="6" id=aspetto readonly="" placeholder="{{ aspetto }}"></textarea></td>
  </tr>
</tbody>
</table>

Assegna questi punteggi alle tue capacità : 16 (+2), 15 (+1), 13 (+1), 12 (+0), 9 (+0), 8 (-1)

<table id=scheda>
<thead>
  <tr>
    <th>Forza</th>
    <th>Destrezza</th>
    <th>Costituzione</th>
    <th>Intelligenza</th>
    <th>Saggezza</th>
    <th>Carisma</th>
  </tr>
</thead>
<tbody>
  <tr id=attributi>
    <td><input type="text" id=attributo readonly="" value="{{ forza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ destrezza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ costituzione }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ intelligenza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ saggezza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ carisma }}"></td>
  </tr>
  <tr id=malus>
    <td><input type="checkbox">debole(-1)</td>
    <td><input type="checkbox">malfermo(-1)</td>
    <td><input type="checkbox">malato(-1)</td>
    <td><input type="checkbox">stordito(-1)</td>
    <td><input type="checkbox">confuso(-1)</td>
    <td><input type="checkbox">sfregiato(-1)</td>
  </tr>
  <tr id=attributi>
    <td><input type="text" id=attributo readonly="" value="{{ for }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ des }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ cos }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ int }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ sag }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ car }}"></td>
  </tr>
</tbody>
</table>

<table id=scheda>
<thead>
  <tr>
    <th>Danni</th>
    <th>Armatura</th>
    <th>Punti Ferita*</th>
  </tr>
</thead>
<tbody>
  <tr id=attributi>
    <td>d6</td>
    <td><input type="text" id=attributo readonly="" value="{{ armatura }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ pf }}"> /
        <input type="text" id=attributo readonly="" value="{{ pfmax }}">
    </td>
  </tr>
</tbody>
</table>

*I punti ferita massimi sono 6 + il punteggio di Costituzione

<table id=scheda>
<thead>
  <tr>
    <th>Etnia</th>
    <th>Morale</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      <form>
        <input type="checkbox" value="Arcaica" disabled  {% if etnia == "arcaica" %}checked{% endif %}>
        <label for="arcaica"> Arcaica </label>
        <br>conosci la lingua arcaica e, grazie al tuo retaggio, puoi spacciarti per un potente mago in maniera molto convincente: +1 bonus Carisma quando usi <i>Impostore</i> per convincere qualcuno delle tue arti magiche.<br><br>
        <input type="checkbox" value="Esperica" disabled {% if etnia == "esperica" %}checked{% endif %}>
        <label for="esperica"> Esperica</label>
        <br>possiedi l'innata diplomazia della tua gente e conosci a fondo la società del Regno del Vespro: +1 bonus Carisma quando usi <i>Impostore</i> per convincere qualcuno di essere un politico o un chierico.<br><br>
        <input type="checkbox" value="Moresca" disabled  {% if etnia == "moresca" %}checked{% endif %}>
        <label for="moresca"> Moresca</label>
        <br>conosci la lingua moresca e hai uno spiccato senso degli affari: +1 bonus Carisma quando usi <i>Tirare un pacco</i><br><br>
</form>
    </td>
    <td>
        <input type="checkbox" value="Caotica" disabled {% if morale == "caotica" %}checked{% endif %}>
        <label for="caotica"> Caotica </label>
        <br>Fregare il prossimo è il tuo mestiere, quasi una vocazione: per te la truffa non è solo una questione di soldi, ma una forma d'espressione artistica.<br><br>

        <input type="checkbox" value="Neutrale" disabled {% if morale == "neutrale" %}checked{% endif %}>
        <label for="neutrale"> Neutrale </label><br>
        Vuoi una vita tranquilla: sogni il colpo della vita per poterti sistemare e ritirarti nella bambagia.<br><br>
    </td>
  </tr>
</tbody>
</table>

<h2>Mosse Iniziali</h2>

<table id=mosse>
<tbody>
  <tr>
    <td><h3>Impostore</h3></td>
    <td>Fai credere di essere ciò che non sei al prossimo: tira + Car. Per lanciare Impostore, è fondamentale che i bersagli non conoscano il ruolo che vuoi impersonare nel dettaglio (ad esempio, non puoi fingere di essere una guardia cittadina con un Capitano della città in questione).<br>
      <ul>
        <li>Fallimento (6-): vieni denunciato alle autorità e rischi di entrare in combattimento.</li>
        <li>Successo parziale (7-9): la tua farsa è credibile, ma qualcuno sospetta di te: a seconda di quanto manterrai la messa in scena, dovrai effettuare altri tiri + Car a descrizione del GM per non farti scoprire.</li>
        <li>Successo (10+): tutti credono alla tua menzogna, puoi mantenere il ruolo fino a quando vorrai salvo azioni eccessivamente compromettenti (a descrizione del GM).</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><h3>Trucchetti del mestiere (Car)</h3></td>
    <td>Puoi usare tutti i <i>Trucchetti</i> del mago lanciandoli con un tiro su Carisma.</td>
  </tr>
  <tr>
    <td><h3>Tirare un pacco</h3></td>
    <td>Mentre stai vendendo qualcosa, tira + Car:<br>
      <ul>
        <li>Fallimento (6-): Vieni attaccato dall'acquirente.</li>
        <li>Successo parziale (7-9): riesci a vendere l'oggetto per una qualsiasi cifra concordata ma, se in futuro dovessi incontrarlo di nuovo, l'acquirente ti attaccherà.</li>
        <li>Successo (10+): riesci a vendere l'oggetto per una qualsiasi cifra concordata. L'acquirente parlerà bene di te a parenti e amici.</li>
      </ul>
      in base all'identità dell'acquirente, con un Fallimento o un Successo parziale potresti rischiare di ritrovarti una taglia sulla testa.
    </td>
  </tr>
  <tr>
    <td><h3>Moralità Flessibile</h3></td>
    <td>Quando qualcuno prova a individuare la tua Morale, puoi dirgli quella che
    preferisci (compresa quella Legale).</td>
  </tr>
</tbody>
</table>


{{ content | safe }}
