---
title: Guerriero
tags:
layout: layouts/scheda.njk
---

<table>
<thead>
  <tr>
    <td><p>{% if descrizione %}{{descrizione}}{% else %}Classe base da ridefinire.</p>
    <p>Il guerriero picchia!{% endif %}</p>
    </td>
    <td>
      <img alt="{{ title }}" src="{{ img }}" height=200 width=200>
      <table id=livello>
        <thead>
          <tr>
            <th>Livello</th>
            <th>Punti Esperienza</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td id=attributi><input type="text" id=attributo readonly="" value="{{ livello }}"></td>
                <td id=attributi><input type="text" id=esperienza readonly="" value="{{ esperienza }}"></td>
                </tr>
                </tbody>
                </table>
    </td>
  </tr>
</thead>
</table>

<table id=scheda>
<thead>
  <tr>
    <th>Nome</th>
    <th>Aspetto</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td id=attributi><input type="text" size="40" id=nome readonly="" value="{{ nome}}"></td>
    <td id=attributi> <textarea style="resize:none;" name="Aspetto" cols="50" rows="6" id=aspetto readonly="" placeholder="{{ aspetto }}"></textarea></td>
  </tr>
</tbody>
</table>

Assegna questi punteggi alle tue capacità : 16 (+2), 15 (+1), 13 (+1), 12 (+0), 9 (+0), 8 (-1)

<table id=scheda>
<thead>
  <tr>
    <th>Forza</th>
    <th>Destrezza</th>
    <th>Costituzione</th>
    <th>Intelligenza</th>
    <th>Saggezza</th>
    <th>Carisma</th>
  </tr>
</thead>
<tbody>
  <tr id=attributi>
    <td><input type="text" id=attributo readonly="" value="{{ forza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ destrezza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ costituzione }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ intelligenza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ saggezza }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ carisma }}"></td>
  </tr>
  <tr id=malus>
    <td><input type="checkbox">debole(-1)</td>
    <td><input type="checkbox">malfermo(-1)</td>
    <td><input type="checkbox">malato(-1)</td>
    <td><input type="checkbox">stordito(-1)</td>
    <td><input type="checkbox">confuso(-1)</td>
    <td><input type="checkbox">sfregiato(-1)</td>
  </tr>
  <tr id=attributi>
    <td><input type="text" id=attributo readonly="" value="{{ for }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ des }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ cos }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ int }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ sag }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ car }}"></td>
  </tr>
</tbody>
</table>

<table id=scheda>
<thead>
  <tr>
    <th>Danni</th>
    <th>Armatura</th>
    <th>Punti Ferita*</th>
  </tr>
</thead>
<tbody>
  <tr id=attributi>
    <td>d10</td>
    <td><input type="text" id=attributo readonly="" value="{{ armatura }}"></td>
    <td><input type="text" id=attributo readonly="" value="{{ pf }}"> /
        <input type="text" id=attributo readonly="" value="{{ pfmax }}">
    </td>
  </tr>
</tbody>
</table>

*I punti ferita massimi sono 10 + il punteggio di Costituzione

<table id=scheda>
<thead>
  <tr>
    <th>Etnia</th>
    <th>Morale</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      <form>
        <input type="checkbox" value="Arcaica" disabled  {% if etnia == "arcaica" %}checked{% endif %}>
        <label for="arcaica"> Arcaica </label>
        <br>conosci la lingua arcaica e, grazie al tuo retaggio, hai sviluppato un certo talento per la magia: una volta al giorno, puoi utilizzare un incantesimo di primo livello a tua scelta.<br><br>
        <input type="checkbox" value="Esperica" disabled {% if etnia == "esperica" %}checked{% endif %}>
        <label for="esperica"> Esperica</label>
        <br>da buon guerriero esperico, sei spregiudicato e conosci Vespro come le tue tasche: +1 bonus Carisma quando commerci e + 1 bonus Saggezza per <i>Fare la guardia</i>.<br><br>
        <input type="checkbox" value="Moresca" disabled  {% if etnia == "moresca" %}checked{% endif %}>
        <label for="moresca"> Moresca</label>
        <br>conosci la lingua moresca e hai uno stile di combattimento peculiare: puoi scegliere Scimitarra come <i>Arma Caratteristica</i> e colpire utilizzando Destrezza al posto di Forza.<br><br>
</form>
    </td>
    <td>
        <input type="checkbox" value="Caotica" disabled {% if morale == "caotica" %}checked{% endif %}>
        <label for="caotica"> Caotica </label>
        <br>L'unica legge che riconosci è quella del mestiere delle armi (che sai usare molto bene). Non hai bisogno di ordini e sentenze per sapere cos'è giusto.<br><br>

        <input type="checkbox" value="Legale" disabled {% if morale == "legale" %}checked{% endif %}>
        <label for="caotica"> Legale </label>
        <br>Sei un soldato per vocazione, la tua forza è al servizio di qualcosa di più grande che sopravviverà nelle generazioni a venire.<br><br>

        <input type="checkbox" value="Neutrale" disabled {% if morale == "neutrale" %}checked{% endif %}>
        <label for="neutrale"> Neutrale </label><br>
        Non c'è niente di male nel prendere ordini da qualcuno, specie se la paga è buona. D'altra parte, mettersi in proprio di tanto in tanto è così divertente!<br><br>
    </td>
  </tr>
</tbody>
</table>

<h2>Mosse Iniziali</h2>

<table id=mosse>
<tbody>
  <tr>
    <td><h3>Piegare Sbarre, Sollevare Cancelli (For)</h3></td>
    <td>
Quando usi la forza bruta per distruggere un oggetto inanimato, tira+For.<br>
✴Con un 10+ scegli tre opzioni.<br>
✴Con un 7–9 scegline due.<br>
      <ul>
        <li>Non ci metti molto tempo</li>
        <li>Niente di valore viene danneggiato</li>
        <li>Non fai una grande quantità di rumore.</li>
        <li>Puoi riaggiustare l'oggetto senza troppa fatica.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><h3>Corazzato</h3></td>
    <td>Ignori l'etichetta ingombrante sull'armatura che indossi.</td>
  </tr>
  <tr>
    <td><h3>Arma Caratteristica</h3></td>
    <td>Questa è la tua arma. Ce ne sono tante come lei, ma questa è la tua. La tua arma è la tua migliore
amica. È la tua vita. Devi dominarla come domini la tua vita. Senza di te la tua arma non è
niente. Senza la tua arma, tu non sei niente. Devi saper colpire il bersaglio.

Scegli una descrizione di base, hanno tutte peso 2:<br>
      <ul>
        <li><input type="checkbox" value="spada" disabled {% if arma == "spada" %}checked{% endif %}><label for="spada"> Spada </label></li>
        <li><input type="checkbox" value="ascia" disabled {% if arma == "ascia" %}checked{% endif %}><label for="ascia"> Ascia </label></li>
        <li><input type="checkbox" value="martello" disabled {% if arma == "martello" %}checked{% endif %}><label for="martello"> Martello </label></li>
        <li><input type="checkbox" value="lancia" disabled {% if arma == "lancia" %}checked{% endif %}><label for="lancia"> Lancia </label></li>
        <li><input type="checkbox" value="mazzafrusto" disabled {% if arma == "mazzafrusto" %}checked{% endif %}><label for="mazzafrusto"> Mazzafrusto </label></li>
        <li><input type="checkbox" value="pugni" disabled {% if arma == "pugni" %}checked{% endif %}><label for="pugni"> Pugni </label></li>
      </ul>
    </td>
  </tr>

</tbody>
</table>

<h2>Mosse Avanzate</h2>

<h2>Mosse Avanzate 2</h2>
Quando raggiungi un livello da 6 a 10, scegli tra queste mosse.


{{ content | safe }}
